<template>
  <div>
    <h3><slot></slot></h3>
    <button @click="dec()"><slot name="dec"></slot></button>
    {{ number }}
    <button @click="inc()"><slot name="inc"></slot></button>
  </div>
</template>
<script>
export default {
  props: ['begin'],
  data () {
    return {
      number: 0
    }
  },
  methods: {
    dec () {
      this.number--
      this.$emit('dec', this.number)
    },
    inc () {
      this.number++
      this.$emit('inc', this.number)
    }
  },
  created () {
    this.number = this.begin
  }
}
</script>
