<template>
  <div>
    <b-button
      variant="success"
      style="float:right;"
      @click="addNewUser"
      v-b-modal.modal-add-new-user
      >AddNew</b-button
    >
    <b-modal
      id="modal-add-new-user"
      ref="modal-add-new-user"
      title="เพิ่มผู้ใช้ใหม่"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template #cell(operation)="data">
        <b-button @click="editUser(data)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      userList: [
        { id: 1, name: 'Ploy', gender: 'FM' },
        { id: 2, name: 'Milk', gender: 'FM' }
      ],
      lastId: 3,
      fields: ['id', 'name', 'gender', 'operation']
    }
  },
  methods: {
    editUser (user) {
      console.log('Edit')
      console.log(user)
    },
    delUser (user) {
      console.log('Delete')
      console.log(user)
    },
    addNewUser () {
      console.log('addnew')
    }
  }
}
</script>
